.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 35%;
  box-shadow: 0px 2px 4px 0px;
  border-radius: 10px;
  padding: 15px;
}

.google-logo {
  height: 85px;
  width: 250px;
  margin-bottom: 20px;
}

.search-icon {
  height: 18px;
  width: 18px;
}

.input {
  margin-left: 8px;
  height: 30px;
  width: 90%;
  outline: none;
  border-style: none;
  font-size: 16px;
  color: #bfbfbf;
}

.list-container {
  list-style: none;
  width: 93%;
}
