.suggestion-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.arrow-img {
  height: 20px;
  width: 20px;
  color: #64748b;
}

.suggestion {
  font-family: 'Roboto';
  font-size: 16px;
  color: #475569;
}

.button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
}
